<a href="{{ links.amazon }}" title="{{ title }}" class="book col-xs-4 col-sm-4 col-md-2" target="_blank" data-characters="{{ serializedCharacters }}" data-locations="{{ serializedLocations }}">
  <h3>{{ title }}</h3>
  <img src="{{ cover }}" />
</a>