<a href="{{ links.amazon }}" title="{{ title }}" class="book col-xs-6 col-sm-6 col-md-3" target="_blank" data-characters="{{ serializedCharacters }}" data-locations="{{ serializedLocations }}" data-series="{{ serializedSeries }}">
  <h3>{{ title }}</h3>
  <img src="{{ cover }}" />
</a>